{% extends "::base.html.twig" %}

{% block title %}
    The Shelf.
{% endblock %}

{% block body %}
    <div class="container">
        <section id="shelf" class="well">
            <nav class="navbar">
                <div class="navbar-inner">
                    <a class="brand" href="#">the shelf</a>
                    <ul class="nav">
                        <li><a href="#" id="nav-addbook"><i class="icon-plus-sign"></i> add a book</a></li>
                        <li><a href="#" id="rereg"><i class="icon-refresh"></i> re-register client</a></li>
                    </ul>
                </div>
            </nav>
            <section class="clearfix" id="books">
            {% for book in books %}
                <article class="book well" id="{{ book.slug }}">
                    <span class="author">{{ book.author }}</span>
                    <span class="title">{{ book.title }}</span>
                </article>
            {% endfor %}
            </section>
            <footer class="clearfix" id="realtime-feed">
                <i class="icon-white icon-info-sign"></i>
            </footer>
        </section>
    </div>

{% endblock %}

{% block javascripts %}
    <script src="http://shelf.dev:8081/socket.io/socket.io.js"></script>
    <script data-main="/bundles/elseymshelf/js/main" src="/bundles/elseymshelf/js/require-jquery.js"></script>
    <script src="/bundles/elseymshelf/js/bootstrap.min.js"></script>
    <script src="/bundles/elseymshelf/js/jquery-ui.min.js"></script>
{% endblock %}

{% block stylesheets %}
    <link rel="stylesheet" href="/bundles/elseymshelf/css/bootstrap.min.css">
    <link rel="stylesheet" href="/bundles/elseymshelf/css/bootstrap-responsive.min.css">
    <link rel="stylesheet" href="/bundles/elseymshelf/css/style.css">
{% endblock %}